body{
    background-color: antiquewhite;
}

/*HEADER TAGE h1 p tage use */ 
header{
    background-color: white;
    height: 150px;
    border-radius: 10px;
    text-align: center;
}

/* H1 TAGE */
h1{
    color:rgb(145, 20, 20);
    font-family: 'lucida handwriting',cursive;
    font-size: 40px;
    padding-top: 15px;
}

/*p tage*/
.first-para{
   font-family: 'bold';
   color:gray;
   font-variant: small-caps;
   font-style: italic;
}
 /* end the header  tage */


/* first main section use (h2 image p1 p2) */
.first-main{
    background-color: white;
    height: 470px;
    border-radius: 10px;
}
h2{
    color: #232F72;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px; 

}

.line{
    border: 1px solid #000;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}

.div-box{
    background-color:rgb(237, 241,241);
    border-radius: 10px;
    font-size: 30px;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

img{
    width:10%;
    margin-top: 3px;
    margin-left: 5px;
    border-radius: 10px;
    padding-right: 10px;
    float: left;
}

#second-para{
    font-size: 20px;
}

.third-para{
    color: blue;
    text-shadow: 1px 1px 2px blue;
    font-size: 25px;
    padding-top: 20px;
    
}
a{
    color: red;
    font-size:20px;
    margin-bottom: 400px;
    text-decoration: none;
    text-decoration: underline;

}
a:hover{
    color: blue;
}
/* first main section end */


/* second main section start (h2 h4 or table) */
.second-main{
    background-color: white;
    height: 340px;
    border-radius: 10px;
    font-size: 16px;
}

h4{
    margin-left: 20px;
}

/* th tage white color */
.head{
    color: white;
}
/* second main section end */


/* third main section start fieldset,lagend,label,input */
#third-main{
    height: 540px;
    background-color: white;
    border-radius: 10px;
} 

/* fieldset tage useses */
fieldset{
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    border: 2px solid #232F72 ;
}

legend{
    color: #232F72;
    padding-left: 9px;
    padding-right: 8px;
    margin-left: 7px;
}
 
/* all label same color for (class selector) */
.all-label{
    color: #232F72;
}

/* all  input  aqual size for the (class selector),*/
.all-input{
    padding-right: 1000px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 5px;
    border-radius: 9px;
}

#qualification{
    padding-right: 1070px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 5px;
    border-radius: 9px;
}

/*button tage use */
button{
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    border-radius: 8px;
    background-color: #232F72;
    color: white;
}
/* third main section end */


/* footer tage  start p tage use*/
#footer-box{
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    background-color: black;
    color: white;
    padding-top: 90px;
    padding-bottom: 60px;
}





